@import url('https://fonts.googleapis.com/css?family=Public Sans');

* { background: #F8F9FC }

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8;
}

h {
    color: black;
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 18;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 92px; */
    width: 525px;
    gap: 16px;
}

h1 {
    color:rgb(0, 0, 0);
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 28;
    /* margin: auto; */
}

p {
    color:rgb(0, 0, 0);
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16;
    line-height: 20.8px;
    align-self: center;
}

.div3 {
    color:rgb(0, 0, 0);
    /* font-family: 'Public Sans'; */
    font-weight: 600;
    font-size: 28;
}